body{
    
    background-image: url(fondo.png);
    background-size: cover;
}
#encabezado{
    
    background-color: rgba(0, 0, 0, 0.926);
    ;
}

.item-header{
    display: inline-block;
    color: antiquewhite;   
}
#titulo{
    margin-left: 1%;
    margin-right: 55%;
    font-family: arial;
    
}

a{
    text-decoration: none;
}
#bienvenida{
    text-align: center;
    margin-top: 12%;
    font-size: 300%;
    font-family: arial; 
    color: antiquewhite;
}
#introduccion{
    text-align: center;
    margin-top: 4%;
    padding-left: 20%;
    padding-right: 20%;
    font-family: arial;
    color: antiquewhite;
}

.item-nav{
    display: inline-block;
    margin-left: 12%;   
}
nav{
    width: 250%;
    margin-right: 0%;
    
}
.contenido{
    margin-left: 4%;
    width: 75%;
    margin-top: 5%;
    padding-left: 2%;
    padding-bottom: 1%;
    padding-top: 0.1%;
    background-color: rgba(42, 42, 42, 0.7);
}
.tipos-contenido{
    color: aliceblue;
    font-family: arial;
    margin-top: 5%;
}
.parrafo-contenido{
    margin-left: 10%;
    margin-right: 5%;
    line-height: 170%;
    font-family: arial;
    color: aliceblue;
}
.numero-quiz{
    color: aliceblue;
    margin-top: 2%;
    font-family: arial;
}
.tema-quiz{
    margin-left: 4%;
    margin-right: 5%;
    color: aliceblue;
    font-family: arial;
    }
.Boton-presentar-quiz{
    margin-top: 5%;
    margin-left: 43%;
    font-family: arial;

}
.bloque-quiz{
    margin-left: 4%;
    width: 75%;
    margin-top: 5%;
    padding-left: 2%;
    padding-bottom: 1%;
    padding-top: 0.1%;
    background-color: rgba(42, 42, 42, 0.7);
    color: aliceblue;

}
.pregunta-quiz{
    margin-left: 4%;
    margin-right: 5%;
    color: aliceblue;
    font-family: arial;

}
.formato-quiz{
    display: inline-block;
    color: aliceblue;
}
.respuesta-v-f{
    margin-left: 30%;
}
.respuesta-v-f-1{
    margin-left: 10%;
}
fieldset{
    border: none;
}
.seleccion{
    margin-left: 15%;
}
.enviar-respuesta{
    margin-left: 45%;
    margin-top: 15%;
}

#imagen_bienvenida_1 {
    width: 14%; 
    height: auto; 
    margin-left: 13%; 
    border-radius: 50%;
    margin-bottom: 0%;
    margin-top: 3%;
}

#imagen_bienvenida_2 {
    width: 14%; 
    height: auto;
    margin-left: 14%; 
    border-radius: 60%;
    margin-bottom: 0%;
    margin-top: 0%;
}
.imagenes_bienvenida{
    display: inline-block;
}
#imagen_bienvenida_3{
    width: 14%; 
    height: auto;
    margin-left: 14%; 
    border-radius: 60%;
    margin-bottom: 0%;
    margin-top: 0%;
}



